


@{
    ViewBag.Title = "Home Page";
}


<div style="align-content:center">
    <h1 style="text-align:center">What store are you at?</h1>
    <form action="/url" method="GET">
        <input type="text"> 
    </form>
</div>
<div style="align-content:center">
    <h1 style="text-align:center">Enter the base unleaded price below</h1>
    <form action="/url" method="GET">
        <input type="text">
    </form>
</div>
<div style="align-content:center" >
    <button style="background-color:red" id="Validate" type="button">Validate Price</button>

</div>