


@{
    ViewBag.Title = "Home Page";
}


<div >

    <h1 style="text-align:center">What store are you at?</h1>
    <form  style="padding-left: 40%"action="/url" method="GET">
        <input name="tbostore" type="text">
     
    </form>
</div>
<div>

    <h1 style="text-align:center">Enter the base unleaded price below</h1>
    <form style="padding-left:40%" action="/url" method="GET">
        <input name="tboprice"type="text">

    </form>
</div>
<div style="padding-left:43.5% ">
    <button  style="background-color:red" id="Validate" type="button">Validate Price</button>

</div>