


@{
    ViewBag.Title = "Home Page";
}


<div >

    <h1 style="text-align:center">What store are you at?</h1>
    <form  style="padding-left: 40%"action="/url" method="GET">
        <input name="tbostore" id="tbostore" type="text">
     
    </form>
</div>
<div>

    <h1 style="text-align:center">Enter the base unleaded price below</h1>
    <form style="padding-left:40%" action="/url" method="GET">
        <input name="tboprice"type="text">

    </form>
</div>
<div style="padding-left:43.5% ; padding-top:15px">
    <button  style="background-color:red ; color:white" id="Validate" type="submit"><strong>Validate Price</strong></button>

</div>