


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Unleaded Price Spread Automation</h1>
  
</div>
<div>
    @*<dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>*@
    @*<dd>
        @Html.DisplayNameFor(model => model.Name)
    </dd>*@
</div>
