@{
    ViewBag.Title = "Errorinput";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="That is not within the threshold" />
    <title></title>
</head>
<body>
    <div>
            That is not Within the threshold
    </div>
</body>
</html>
