@model IEnumerable<TrialLovesProject.Models.StorePrice>

@{
    ViewBag.Title = "PriceChecker";
}

<h2>Price Checker</h2>


<table class="table">

    @foreach (var item in Model)
    {

        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Grade1.Name)
            </th>

            <td>
                @Html.DisplayFor(modelItem => item.NewPrice)
            </td>




        </tr>
    }

</table>
<div style="padding-left: 45%; ">

    <button style="background-color:red" id="Validate" type="button">Validate Price</button>

</div>