@model IEnumerable<TrialLovesProject.Models.StorePrice>

@{
    ViewBag.Title = "PriceChecker";
   
}

<h2>Price Checker</h2>


<table class="table">



    <tr>
        <th>
            @*@Html.DisplayFor(modelItem => item.Grade1.Name)*@
            Unleaded Regular
        </th>
        <th>
            Unleaded Plus
        </th>
        <th>
            Unleaded Super
        </th>
    </tr>
    @foreach (var item in Model)//something here so it rotates each grade, goes through each instance in grade
    {
        <tr>
            <td>


                @item.NewPrice.ToString("N2")  @*tboprice instead of new price, because it isnt updated yet*@
            </td>
            <td>
                @((item.NewPrice + item.Store.Threshold).ToString("N2"))
            </td>
            <td>
                @((item.NewPrice + item.Store.Threshold + item.Store.Threshold).ToString("N2"))

            </td>





        </tr>

    }

</table>




<div style="padding-left: 45%; ">

    <button style="background-color:red; color:white" id="Validate" type="button"><strong>Validate Price</strong></button>

</div>











