@model IEnumerable<TrialLovesProject.Models.Grade>

@{
    ViewBag.Title = "PriceChecker";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>



</table>
