@model IEnumerable<TrialLovesProject.Models.Grade>

@{
    ViewBag.Title = "PriceChecker";
}

<h2>Price Checker</h2>


<table class="table">
    <tr>
        <td>
            Unleaded Regular
        </td>
        <td>
            Unleaded Plus
        </td>
        <td>
            Unleaded Super
        </td>
    </tr>
    @*@if()*@

    @foreach (var item in Model)
    {
<tr>
    @*<td>
        @Html.DisplayFor(modelItem => item.StorePrices)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.GradeId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>




</tr>
    }

    </table>
<div style="padding-left: 45%; ">

    <button style="background-color:red" id="Validate" type="button">Validate Price</button>

</div>